.Test_2{
    width: 25px;
    height: 25px;
    left: 48%;
    position : relative;
}
.Box_Values{
background-color: white;
padding: 15px;
margin-top: 75px;
margin-left: auto;
margin-right: auto;
width: 255px;
height: 385px;
font-size: 16px;
text-align: justify;
}

.Picto_Value{
width: 100px;
height: 100px;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
}
.Bg_Green{
    background-color: green;
}
.Bg_Red{
    background-color: red;
    padding: 50px;
}
.title_video{
    width: 100%;    
    z-index: 51;
    position: absolute;
    text-align: center;
    top: 35%;
    color: white;
}
.img_center{
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    height: 125px;
}

.blue_text{
    color: #009EE2;
}
.center{
    text-align: center;
}
/*

        CSS. for gestion vidéo de la homepage

*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
@media screen and (max-width: 360px) { /* les classes suivante s'applique lorsque la largeur maximale est de 360px*/
  .video-container {
      position: relative;
      bottom: 0%;
      left: 0%;    
      height: 640px; /*idée faire varier cette valeur en fonction de la largeur de l'écran @media*/
      width: 100%;
      /*min-width: 480px;*/
      overflow: hidden;
      /*background:black;*/
  }
}
@media screen and (min-width: 360px) and (max-width: 770x) { /* les classes suivante s'applique lorsque la largeur de l'écran a une valeur comprise entre min 360 et max 800*/
  .video-container {
      position: relative;
      bottom: 0%;
      left: 0%;    
      height: 1024px; /*idée faire varier cette valeur en fonction de la largeur de l'écran @media*/
      width: 100%;
      /*min-width: 480px;*/
      overflow: hidden;
      background:red;
  }
}  
.video-container .poster img {
    width: 100%;
    bottom: 0;
    
    position: absolute;
}
.video-container .filter {
    z-index: 50;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
    min-width: 1920px;
}
.test_Block{
    width: 100%;
    background-color: blue;
    height: 250px;
}